.Main {
  width: 90vw;
  max-width: 720px;
  margin: 0 auto;
}

.Main-landing,
.Main-about,
.Main-contact, 
.Main-experience,
.Main-projects {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  /* border: solid 1px #ffd275 */
}

.Main-landing,
.Main-about,
.Main-contact {
  justify-content: center;
}

.Main-experience,
.Main-projects {
  justify-content: flex-start;
}

.Main-experience {
  padding-top: 2rem;
}

.Main-landing{
  min-height: 100vh;
} 
.Main-about,
.Main-experience {
  min-height: 75vh;
}

.Main-projects,
.Main-contact {
  min-height: 45vh;
}

.Main-heading {
  color: #f5ac72;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 0.25rem;
}

.Main-name {
  font-size: 3rem;
  font-weight: bold;
  margin: 1rem 0rem;
  color: #ffd275;
}

.Main-title-box {
  margin: 1rem;
}

.Main-titles {
  font-size: 0.9rem;
  margin: 0.25rem 0.45rem;
  color: #51211d;
  padding: 0.25rem 0.35rem;
  font-weight: bold;
  background-color: #f5ac72;
  display: inline-block;
}

.Main-btn {
  width: 100px;
}

.Main-btn:hover {
  background-color: #ffd275;
  color: #2b433f;
}

.Main-about-box {
  display: flex;
  flex-direction: row;
}

.Main-about .Main-text-box {
  width: 60%;
  margin: 1rem;
}

.Main-text {
  display: inline-block;
  margin: 1rem;
}

.Main-text b {
  color: #f5ac72;
  font-size: 0.9rem;
}

.Main-img-box {
  position: relative;
  width: 40%;
}

.Main-img-box img {
  position: absolute;
}

.Main-img-cat {
  z-index: 3;
  width: 90%;
}

.Main-img-snorkeling {
  z-index: 2;
  width: 75%;
  bottom: 1rem;
  right: 0;
}

.Main-select-box {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.Main-job {
  color: #ffd275;
  border: none;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 0.1rem; 
  margin-left: 1.5rem;
  padding: 0.25rem 0.5rem;
  font-weight: bold;
  pointer-events: auto;
  cursor: pointer;
}

.Main-job:hover {
  background-color: beige;
  color: #2b433f;
}

.Main-active {
  background-color: #51211d;
}

.Main-exp-title {
  padding: 0.5rem 0.25rem;
  font-size: 0.85rem;
  /* display: block; */
}

.Main-exp-title b {
  text-decoration: underline;
}

.Main-exp-date {
  font-size: 0.65rem;
  font-weight: bold;
  margin: 0.5rem;
  padding: 0.25rem 0.35rem;
  background-color: #51211d;
  display: inline-block;
  text-transform: uppercase;
}

.Main-exp-details {
  display: block;
  margin: 0.5rem;
}

.Main-hr {
  margin: 0.85rem 0.25rem;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ffd275;
}

.Main-projects-outer {
  display: flex;
  flex-direction: row;
}

.Main-project-box {
  margin: 1rem;
  padding: 1rem 1rem 0rem;
  width: 50%;
}

.Main-project-title {
  display: inline-block;
  padding: 0.25rem 0.35rem;
  background-color: #51211d;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  color: #ffd275;
  font-weight: 600;
  font-size: 0.9rem;
  text-decoration: none;
}

.Main-project-title:hover {
  text-decoration: underline;
}

.Main-project-text {
  display: block;
  margin: 1rem;
  font-size: 0.85rem;
}

.Main-project-link {
  color: #f5ac72;
  /* border: solid 1px #ffd275; */
  margin: 0.5rem;
  /* padding: 0.25rem 0.35rem; */
  font-size: 0.9rem;
  text-decoration: none;
  display: block;
  margin-left: 1rem;
  font-weight: bold;
  text-decoration: underline;
}

.Main-project-tags {
  display: block;
  font-size: 0.75rem;
  margin: 1.5rem 1rem;
}

.Main-project-tags span {
  padding: 0.25rem 0.5rem;
  background-color: #ffd275;
  color: #2b433f;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0.25rem;
  display: inline-block;
}

.Main-contact-box {
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
}

.Main-contact-box i {
  /* margin: 2rem 2rem; */
  font-size: 2.5rem;
  color: #ffd275;
}

.Main-contact-box i:hover {
  color: beige;
}

.Main-resume-box {
  position: fixed;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #ffd275;
  bottom: 10vh;
  right: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 0.5rem;
  color: #2b433f;
}

.Main-resume-box i {
  width: 100%;
  height: 100%;
}

@media (max-width: 576px) {
  .Main {
    width: 98vw;
  }

  .Main-about .Main-text-box {
    width: 100%;
  }

  .Main-img-box {
    display: none;
  }

  .Main-experience .Main-select-box,
  .Main-projects-outer {
    flex-direction: column
  }

  .Main-project-box {
    width: 90%;
  }


.Main-experience .Main-text {
  margin-bottom: 1rem;
}
}