.NavBar {
  color: #f5ac72;
  font-size: 0.75rem;
  font-weight: bold;
  position: fixed;
  left: auto;
  right: 7vh;
  /* bottom: 0; */
  font-size: 1rem;
  font-weight: 100;
  display: flex;
}

.NavBar-inner {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* width: 90vw; */
  max-width: 960px;
  text-align: right;
  /* margin: 0.5rem auto; */
}

.NavBar-inner * {
  display: inline-block;
}

.NavBar-icon {
  width: 2rem;
  margin: 0.25rem 0.25rem 0.25rem auto;
  padding: 0.25rem;
}

.NavBar span {
  margin: 0.5rem;
}